.App {
  text-align: center;
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 50vw;
  background-color: lightblue;
} */
/* nav {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  text-align: center;
  padding: 10px 0;
}

.link {
  width: 100px;
} */

html,
body,
#root {
  height: 100%;
}

.page {
  /* background-color: coral; */
  /* height: 100%; */
}

.page > div {
  /* display: flex;
  justify-content: center; */
}